In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('heart - heart.csv')

##  1. Perfor Exploratory analysis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

## 2. Check Missing data ,Duplicates

In [4]:
df[df.duplicated()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [5]:
df[df.duplicated()].index

Int64Index([164], dtype='int64')

In [6]:
df = df.drop(df[df.duplicated()].index)

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
100*df.isnull().sum()/len(df)

age         0.0
sex         0.0
cp          0.0
trestbps    0.0
chol        0.0
fbs         0.0
restecg     0.0
thalach     0.0
exang       0.0
oldpeak     0.0
slope       0.0
ca          0.0
thal        0.0
target      0.0
dtype: float64

In [10]:
df['cp']

0      3
1      2
2      1
3      1
4      0
      ..
298    0
299    3
300    0
301    0
302    1
Name: cp, Length: 302, dtype: int64

In [11]:
df['target']

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 302, dtype: int64

In [12]:
df['target'].unique()

array([1, 0], dtype=int64)

In [13]:
def Target(trgt):
    if trgt == 1:
        return 'Yes'
    else:
        return 'No'

df['target'] = df['target'].apply(Target)

In [14]:
df['target'].unique()

array(['Yes', 'No'], dtype=object)

In [15]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,Yes
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,Yes
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,Yes
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,Yes
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,Yes

In [16]:
df.to_csv('Project2_clean_data_actual.csv',index=False)